.header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #363636cc;
    /* height: 10vh; */
    height: 5.5rem;
    width: 100vw;
    /* margin-bottom: 5rem; */
    /* padding-left: -1rem; */
    /* padding-right: 10rem; */
    z-index: 999;
}

.header__logo{
    width: 5rem;
    /* background-color: #0003; */
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    width: 50%;
}

.header__nav__link{
    font-size: 2rem;
}