.home{
    background-image: url('../../assets/background-home.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    margin-top: -5.5rem;
}

.home__container{
    /* border: 3px solid red; */
    width: 40%;
    margin-left: 5rem;
}

.home__title{
    font-family: "Rhodium Libre", "serif";
    font-size: 7rem;
    font-weight: 300;
}

.home__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__subtitle, .home__button{
    font-family: "Roboto", "serif";
}

.home__subtitle{
    font-size: 3.5rem;
    text-align: left;
    padding-right: 2rem;
    /* border: 1px solid red; */
}

.home__button{
    border: 1.5px solid #8D8D8D;
    background-color: #0003;
    width: 18rem;
    height: 3.5rem;
    margin-top: 1rem;
}